{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Spécialité métier - {{ entity.nom }}
{% endblock %}

{% block pre_container %}
    <h1>Spécialité métier</h1>
{% endblock %}

{% block container -%}

    <table class="record_properties table table-hover table-striped table-condensed">
        <tbody>
            <tr>
                <th>Spécialité métier</th>
                <td>{{ entity.nom }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('specialitemetier') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('specialitemetier_edit', { 'id': entity.id }) }}">
            Éditer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
