{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%} 
    Liste des domaines 
{% endblock %}

{% block body -%}
    <h1>Liste des domaines</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Domaine</th>
                <th>Domaine parent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('domaine_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                {% if entity.domaineParent %}</td>
                    <td>{{ entity.domaineParent.nom }}</td>
                {% else %}
                    <td><i>Aucun</i></td>
                {% endif %}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('domaine_show', { 'id': entity.id }) }}">Visualiser</a>
                    </li>
                    <li>
                        <a href="{{ path('domaine_edit', { 'id': entity.id }) }}">Éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('domaine_new') }}">
                Créer une nouvelle entrée
            </a>
        </li>
    </ul>
    {% endblock %}
