{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block pre_container %}
    <h1>Domaine</h1>
{% endblock %}

{% block container -%}

    <table class="record_properties table table-hover table-striped table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Domaine parent</th>
                {% if entity.domaineParent %}</td>
                    <td>{{ entity.domaineParent.nom }}</td>
                {% else %}
                    <td><i>Aucun</i></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('domaine') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('domaine_edit', { 'id': entity.id }) }}">
            Éditer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
