{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
   Type - {{ entity.nom }}
{% endblock %}

{% block pre_container %}
    <h1>Type</h1>
{% endblock %}

{% block container -%}

    <table class="record_properties table table-hover table-striped table-condensed">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ entity.nom }}</td>
            </tr>
        </tbody>
    </table>

<div class="record_actions">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('type') }}">
                <button type="button" class="btn btn-primary">{{ icon('th-list') }} Retour à la liste</button>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ path('type_edit', { 'id': entity.id }) }}">
                        <button type="button" class="btn btn-warning">{{ icon('pencil') }} Éditer</button>
            </a>
        </div>
        <div class="btn-group">{{ form(delete_form) }}</div>
    </div>
</div>
{% endblock %}
