{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%} 
    Liste des missions
{% endblock %}

{% block pre_container %}
    <h1>Liste de missions</h1>
{% endblock %}

{% block container -%}

    <table class="records_list table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Employé</th>
                <th>Client</th>
                <th>Intitulé mission</th>
                <th>Type prestation</th>
                <th>Métier</th>
                <th>Domaine</th>
                <th>Sous-domaine</th>
                <th>Type</th>
                <th>Date début</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.employe }}</td>
                <td>{{ entity.client }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.typePrestation }}</td>
                <td>{{ entity.metier }}</td>
                <td>{{ entity.domaine }}</td>
                <td>{{ entity.sousDomaine }}</td>
                <td>{{ entity.type }}</td>
                <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('d/m/Y') }}{% endif %}</td>
                <td>
                    {% if entity.dateFin %}
                        {% if entity.dureeAnnees == 1 %} 
                            1 an et 
                        {% elseif entity.dureeAnnees > 1 %}
                            {{ entity.dureeAnnees }} ans et
                        {% endif %}
                        {{ entity.dureeMois }} mois
                    {% else %}
                        <i>Mission en cours</i>
                    {% endif %}
                </td>
                <td>
                    <div>
                        <div>
                            <a href="{{ path('mission_show', { 'id': entity.id }) }}">{{ icon('eye-open') }} Visualiser</a>
                        </div>
                        <div>
                            <a href="{{ path('mission_edit', { 'id': entity.id }) }}">{{ icon('pencil') }} Éditer</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
            <a href="{{ path('mission_new') }}">
                {{ icon('plus') }} Créer une nouvelle entrée
            </a>
    </div>
    {% endblock %}
