{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Mission - {{ entity.nom }}
{% endblock %}

{% block pre_container %}
    <h1>Mission</h1>
{% endblock %}

{% block container -%}

    <table class="record_properties table table-hover table-striped table-condensed">
        <tbody>
            <tr>
                <th>Employé</th>
                <td>{{ entity.employe }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ entity.client }}</td>
            </tr>
            <tr>
                <th>Intitulé mission</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Type prestation</th>
                <td>{{ entity.typePrestation }}</td>
            </tr>
            <tr>
                <th>Métier</th>
                <td>{{ entity.metier }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ entity.domaine }}</td>
            </tr>
            <tr>
                <th>Sous-domaine</th>
                <td>{{ entity.sousDomaine }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Description processus</th>
                <td>{{ entity.descriptionProcessus }}</td>
            </tr>
            <tr>
                <th>Description technique</th>
                <td>{{ entity.descriptionTechnique }}</td>
            </tr>
            <tr>
                <th>Description fonction</th>
                <td>{{ entity.descriptionFonction }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ entity.dateDebut|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>
                    {% if entity.dateFin %}
                        {% if entity.dureeAnnees == 1 %} 
                            1 an et 
                        {% elseif entity.dureeAnnees > 1 %}
                            {{ entity.dureeAnnees }} ans et
                        {% endif %}
                        {{ entity.dureeMois }} mois
                    {% else %}
                        <i>Mission en cours</i>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        {% if previous_page %}
            <a href="{{ previous_page }}">
                Retour à la liste
            </a>
        {% else %}
            <a href="{{ path('mission') }}">
                Retour à la liste
            </a>
        {% endif %}
    </li>
    <li>
        <a href="{{ path('mission_edit', { 'id': entity.id }) }}">
            Éditer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
