{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%} 
    Liste des employés 
{% endblock %}

{% block pre_container %}
    <h1>Liste des employés</h1>
{% endblock %}

{% block container -%}

    <table class="records_list table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Matricule</th>
                <th>Email</th>
                <th>Identifiant</th>
                <th>Admin ?</th>
                <th>Actif ?</th>
                <th>Dernière connexion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.matricule }}</td>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                <td>{{ entity.username }}</td>
                <td>
                    {% if entity.roles|first() == 'ROLE_ADMIN'%}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>
                    {% if entity.enabled == true %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>{% if entity.lastLogin %}{{ entity.lastLogin |date('d/m/Y h:m') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employe_show', { 'id': entity.id }) }}">Visualiser</a>
                        </li>
                        <li>
                            <a href="{{ path('employe_edit', { 'id': entity.id }) }}">Éditer</a>
                        </li>
                        <li>
                            <a href="{{ path('mission_show_employe_missions', { 'id': entity.id }) }}">Visualiser missions</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('employe_new') }}">
                Créer une nouvelle entrée
            </a>
        </li>
    </ul>
    {% endblock %}
