{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%} 
    Liste des clients 
{% endblock %}

{% block body -%}
    <h1>Liste des clients</h1>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Raison sociale</th>
                <th>Siren</th>
                <th>Nic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.raisonSociale }}</td>
                <td>{{ entity.siren }}</td>
                <td>{{ entity.nic }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('client_show', { 'id': entity.id }) }}">Visualiser</a>
                    </li>
                    <li>
                        <a href="{{ path('client_edit', { 'id': entity.id }) }}">Éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('client_new') }}">
                Créer une nouvelle entrée
            </a>
        </li>
    </ul>
    {% endblock %}
