{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%} 
    Liste des clients 
{% endblock %}

{% block pre_container %}
    <h1>Liste des clients</h1>
{% endblock %}

{% block container -%}

    <table class="records_list table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Raison sociale</th>
                <th>Siren</th>
                <th>Nic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.raisonSociale }}</td>
                <td>{{ entity.siren }}</td>
                <td>{{ entity.nic }}</td>
                <td>
                <div>
                    <div>
                        <a href="{{ path('client_show', { 'id': entity.id }) }}">{{ icon('eye-open') }} Visualiser</a>
                    </div>
                    <div>
                        <a href="{{ path('client_edit', { 'id': entity.id }) }}">{{ icon('pencil') }} Éditer</a>
                    </div>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div>
            <a href="{{ path('client_new') }}">
                {{ icon('plus') }} Créer une nouvelle entrée
            </a>
    </div>
    {% endblock %}
