{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Client</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Raisonsociale</th>
                <td>{{ entity.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ entity.siren }}</td>
            </tr>
            <tr>
                <th>Nic</th>
                <td>{{ entity.nic }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Retour à Liste de lase
        </a>
    </li>
    <li>
        <a href="{{ path('client_edit', { 'id': entity.id }) }}">
            Éditer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
