{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Client - {{ entity.raisonSociale }}
{% endblock %}

{% block pre_container %}
    <h1>Client</h1>
{% endblock %}

{% block container -%}

    <table class="record_properties table table-hover table-striped table-condensed">
        <tbody>
            <tr>
                <th>Raison sociale</th>
                <td>{{ entity.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ entity.siren }}</td>
            </tr>
            <tr>
                <th>Nic</th>
                <td>{{ entity.nic }}</td>
            </tr>
        </tbody>
    </table>

<div class="record_actions">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{{ path('client') }}">
                <button type="button" class="btn btn-primary">{{ icon('th-list') }} Retour à la liste</button>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ path('client_edit', { 'id': entity.id }) }}">
                        <button type="button" class="btn btn-warning">{{ icon('pencil') }} Éditer</button>
            </a>
        </div>
        <div class="btn-group">{{ form(delete_form) }}</div>
    </div>
</div>

{% endblock %}
