{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Client - {{ entity.raisonSociale }}
{% endblock %}

{% block pre_container %}
    <h1>Client</h1>
{% endblock %}

{% block container -%}

    <table class="record_properties table table-hover table-striped table-condensed">
        <tbody>
            <tr>
                <th>Raison sociale</th>
                <td>{{ entity.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Siren</th>
                <td>{{ entity.siren }}</td>
            </tr>
            <tr>
                <th>Nic</th>
                <td>{{ entity.nic }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('client_edit', { 'id': entity.id }) }}">
            Éditer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
